<form method="post" action="post.php">
    <label for='prenom'>Entrer le texte : </label>
    <input type='text' name='prenom' id='prenom' maxlength='20' required>
    <span id='missPrenom'></span><br>
    <input type='submit' value='Valider' id='bouton_envoi'>
</form>

<script src="global.js"></script>