
#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
}

#menu li a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#menu li a:hover {
    color: #FFD700;
}

h1 {
    color: green;
    font-size: 30px;

}

.yellow {
    color: yellow;
}

body {
    font-size: 1em;
    font-family: gigi;
    margin: 15px 15px 15px 15px;
}

.xxx {
    font-size: 55px;
}

ul li {
    display: none;
}

ul:hover li {
    display: block;
    position: relative;
    top: 0;
    left: -25px;
}

#c2 {
    background: yellow;
}

.c1 {
    background: orange;
}
	

	


	
	 



 
 

 
 
