body {
    margin: 0;
    font-family: Ubuntu, Tahoma, sans-serif;
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.woff2');
}

.FlexPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RotatingItem {
    -webkit-animation: rotating 0.5s linear infinite;
    animation: rotating 0.5s linear infinite;
}

.ClickableItem {
    transition: 0.1s;
}

.ClickableItem:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px rgb(127, 193, 255);
}

.ClickableItem:active {
    box-shadow: 0 0 0 0 rgb(127, 193, 255);
}

.ClickableItem:focus {
    outline: none;
}

.NotSelectableItem {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#TopMenu {
    position: relative;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid rgb(229, 229, 229);
}

#TopMenu .SiteName {
    position: absolute;
    color: rgb(252, 71, 126);
    font-size: 200%;
    top: 15px;
    left: 18px;
}

#TopMenu .TokenButton {
    position: absolute;
    height: 32px;
    width: 180px;
    top: 17px;
    border-radius: 100px;
    right: 15px;
    border: 2px solid rgb(200, 200, 200);
    color: rgb(200, 200, 200);
}

#TopMenu .TokenButtonGenerated {
    position: absolute;
    height: 32px;
    width: 180px;
    top: 17px;
    border-radius: 100px;
    right: 15px;
    background: rgb(66, 133, 244);
    border: 2px solid rgb(66, 133, 244);
    color: white;
}


#App {
    position: fixed;
    height: calc(100% - 72px);
    bottom: 0;
    width: 100%;
    left: 0;
    overflow: auto;
}

#App .GlobalMenu {
    height: 100%;
    padding-right: 10px;
    margin-top: 20px;
    position: relative;
    width: calc(100% - 40px);
    left: 20px;
}

#App .GlobalMenu .CaseTitle {
    position: relative;
    font-size: 200%;
}


#App .GlobalMenu .ResultBox {
    cursor: pointer;
    position: relative;
    width: calc(100% - 40px);
    margin-top: 10px;
    background: rgb(245, 245, 245);
    padding: 20px;
    word-break: break-word;
}

#App .GlobalMenu .TableBox {
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    background: rgb(245, 245, 245);
    padding: 20px;
    word-break: break-word;
}

#App .GlobalMenu hr {
    height: 3px;
    background: rgb(252, 71, 126);
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}

#App .GlobalMenu .ExecuteButton {
    position: relative;
    background: rgb(230, 230, 230);
    height: 60px;
    width: 100%;
    font-size: 150%;
    color: rgb(100, 100, 100);
    border-radius: 5px;
    cursor: pointer;
}

#App .GlobalMenu input {
    position: relative;
    width: calc(100% - 35px);
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
    font-family: Ubuntu, Tahoma, sans-serif;
    font-size: 120%;
}

#App .GlobalMenu select {
    position: relative;
    width: 100%;
    font-family: Ubuntu, Tahoma, sans-serif;
    font-size: 120%;
    padding: 20px;
    margin-top: 7px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

#App .GlobalMenu select:focus {
    outline: none;
}

#App .Empty {
    position: relative;
    text-align: center;
    font-size: 1000%;
    top: calc(50% - 170px);
    color: rgb(194, 194, 194)
}

#App #Loader {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
    z-index: 9999;
}

#App #Loader .BigBackground {
    position: absolute;
    width: 350px;
    height: 100%;
    background: rgb(229, 229, 229);
    transform: skew(-22deg, 0deg);
    right: 20%;
}

#App #Loader .LittleBackground {
    position: absolute;
    width: 140px;
    height: 100%;
    background: rgb(229, 229, 229);
    transform: skew(-22deg, 0deg);
    left: 20%;
}

#App #Loader .Throne {
    position: absolute;
    height: 220px;
    width: 220px;
    background: url(../images/throne.svg);
    background-size: contain;
    margin-top: -100px;
}

#App #Loader .RotatingSpin {
    position: absolute;
    height: 55px;
    margin-top: 55px;
    width: 55px;
    border-top: 3px solid rgb(252, 71, 126);
    border-radius: 100%;
}


#App .Notification {
    position: fixed;
    height: 112px;
    cursor: pointer;
    width: 100%;
    left: 0;
    bottom: -112px;
    border-top: 2px solid rgb(229, 229, 229);
    background: white;
    z-index: 9999;
}

#App .Notification .ErrorImage {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 15px;
    left: 15px;
    background: url(../images/ink-level.svg);
    background-size: contain;
}

#App .Notification .Title {
    position: absolute;
    left: 110px;
    top: 10px;
    font-size: 180%;
    color: rgb(50, 50, 50);
}

#App .Notification .Description {
    position: absolute;
    left: 110px;
    top: 42px;
    font-size: 130%;
    color: rgb(50, 50, 50);
    width: calc(100% - 150px);
}