<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="module" src="js/Function.js"></script>


<div id="resultat"></div>
<form id="form" method="post" action="php/Connexion.php">
    <input type="text" placeholder="Login" name="login" id="login"/>
    <br>
    <input type="text" placeholder="Password" id="password" name=password"/>
    <br>
    <input id="submit" type="submit" value="Connexion"/>
</form>
